@charset "utf-8";

:root {
  --mw: 1440px;
  --gap1: 16px;
  --gap2: 8px;
  --main_c1: #ff6b00;
  --main_c2: #eae7de;
  --main_c3: #051619;
  --title1: 500 40px "Hahmlet", serif;
  --title2: 400 32px "Hahmlet", serif;
  background-color: #fcf8ee;
  font-family: "Hahmlet", serif;
}

.mw {
  max-width: var(--mw);
  width: calc(100% - 2rem);
  margin: auto;
}

/* body > * {
  max-width: var(--mw);
  margin: auto;
} */
body a {
  color: black;
}

.hd {
  margin-bottom: var(--gap1);
  padding: var(--gap1) 0;
}
.hd > * {
  /* border: 1px solid red; */
}

.top_menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: var(--gap2) 0;
}
.top_menu > * {
  margin-left: var(--gap1);
  /* border: 1px solid lightgreen; */
  padding: var(--gap2) 0;
  transition: 0.3s;
  font-size: 0.9rem;
  color: #000000;
}
.top_menu > button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.25rem;
}
.top_menu > *:hover {
  color: var(--main_c1);
}

.fa-toggle-off {
  display: none;
}
.darkmode.on .fa-toggle-off {
  display: block;
}
.darkmode.on .fa-toggle-on {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--gap2) 0;
}
.menu > * {
  /* border: 1px solid blue; */
}
.menu a {
  font-size: 20px;
  font-weight: 500;
}
.logo {
  width: 200px;
}
.menu img {
  width: 100%;
}

.gnb {
  /* flex-grow: 1; */
  display: flex;
}
.gnb a {
  padding: var(--gap2) calc(var(--gap1) * 2);
  color: #000000;
  transition: 0.3s;
  position: relative;
  display: inline-block;
}
.gnb a:hover {
  color: var(--main_c1);
}

.gnb a::before,
.gnb a::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--main_c1);
  transition: 0.5s;
}
.gnb a::before {
  left: 50%;
}
.gnb a::after {
  right: 50%;
}
.gnb a:hover::before,
.gnb a:hover::after {
  width: 50%;
}

.btn_subsc {
  /* text-align: right; */
}
.btn_subsc span {
  padding: var(--gap2) calc(var(--gap1) * 2);
  background-color: var(--main_c1);
  border-radius: var(--gap2);
  color: white;
  display: inline-block;
}
.btn_subsc:hover span {
  background-color: white;
  color: var(--main_c1);
  /* color: #000000; */
  box-shadow: inset 0px 0px 0px 3px var(--main_c1);
}
.ham {
  display: none;
}

/* 메인영역 시작 */
.sec1 {
  display: flex;
  /* height: 60vh; */
  /* border: 2px solid lightgreen; */
  margin-bottom: 3rem;
}
.intro {
  width: 25%;
  /* padding-top: 30%; */
  /* border: 2px solid gold; */
  position: relative;
  margin-right: 1rem;
}

.chatbox {
  /* border: 1px solid green; */
  position: relative;
  z-index: 10;
  transform: translate(-5%, 65%);
  /* background-color: #ceeaff; */
}
.chatbox p {
  /* border: 1px solid red; */
}
.chatbox p:first-child {
  /* font-size: 20px; */
  font-size: 1.25rem;
  text-decoration: underline;
  padding-bottom: 1rem;
  /* white-space: nowrap; */
}
.chatbox p:last-child {
  font-size: 0.9rem;
  white-space: nowrap;
  line-height: normal;
}

.intro img {
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  right: 0;
  /* left: -60%; */
  /* width: 160%; */
  width: 160%;
}

.recent {
  /* border: 2px solid salmon; */
  /* flex-grow: 1; */
  width: 75%;
  padding: 1rem;
  /* overflow: hidden; */
  position: relative;
}
.recent h2 {
  font: var(--title1);
  border-bottom: 1px solid var(--main_c3);
  color: var(--main_c3);
}

.slide1 {
  /* border: 2px solid cyan; */
  padding: 1rem 5px;
  /* overflow: visible; */
  margin: 0 2rem;
}
.swiper-wrapper {
  /* padding: 0 1rem; */
  /* border: 2px solid chartreuse; */
}

.card_recent {
  /* border: 2px solid red; */
  /* width: 37%; */
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.card_recent:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.card_recent img {
  width: 100%;
}
.card_recent p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card_recent p:first-of-type {
  padding: 0.5rem 1rem;
  color: #555555;
}
.card_recent p:last-of-type {
  padding: 0.5rem 1rem 1rem;
  font-size: 18px;
}
.card_recent a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.card_recent:hover a {
  background-color: rgba(0, 0, 0, 0);
}

.next1,
.prev1 {
  position: absolute;
  transform: translateY(50%);
  /* border: 1px solid #999999;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff; */
}
.next1 {
  /* right: -5px; */
}
.next1::after {
  content: "\f054";
  font-family: "Font Awesome 6 Free";
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--main_c3);
}
.prev1 {
  /* left: -5px; */
}
.prev1::after {
  content: "\f053";
  font-family: "Font Awesome 6 Free";
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--main_c3);
}
.next1:hover,
.prev1:hover {
  /* background-color: #ffc296;
  border: none; */
}
.next1:hover::after,
.prev1:hover::after {
  color: var(--main_c1);
  font-size: 2rem;
}

.mid_banner {
  /* border: 5px solid red; */
  max-width: 100%;
  /* width: 100%; */
  display: flex;
  /* justify-content: center; */
  /* padding: var(--gap1); */
  position: relative;
  margin-bottom: 7rem;
}
.mid_banner > div {
  /* border: 2px solid hotpink; */
}
.bn_left {
  width: 55%;
  display: flex;
  justify-content: flex-end;
  /* position: relative; */
  background-image: url(../image/Vector1.png);
  background-size: 100% 100%;
}
.left_con {
  /* border: 5px solid yellow; */
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left_con a {
  font-size: 1.5vw;
  padding: 1rem;
}
.left_con a:hover {
  text-shadow: #ff6b00 0px 0px 8px;
}

.bn_right {
  width: 55%;
  position: absolute;
  right: 0;
  display: flex;
  background-image: url(../image/Vector2.png);
  background-size: 100% 100%;
}
.right_con {
  /* border: 5px solid yellow; */
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right_con a {
  font-size: 1.5vw;
  padding: 1rem;
}
.right_con a:hover {
  text-shadow: #ff6b00 0px 0px 8px;
}

.mid_banner img {
  height: 100px;
  padding: var(--gap2);
}

.sec2 {
  /* border: 1px solid blue; */
  display: flex;
  padding: var(--gap1) 0;
  margin-bottom: 3rem;
}
.min1 {
  /* border: 1px solid red; */
  width: 50%;
}
.min1 > div {
  border-top: 2px solid var(--main_c3);
  border-bottom: 2px solid var(--main_c3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font: var(--title2);
  background-color: var(--main_c2);
  /* background-image: url(../image/1min.png); */
  position: relative;
}
.min1 > div > a {
  position: absolute;
  right: 0;
  padding: var(--gap1);
}
.min1 > div > a:hover i {
  color: var(--main_c1);
}

.min1 > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -60px);
  background-image: url(../image/notime.png);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 20%;
  height: 77px;
  /* border: 1px solid hotpink; */
}

.min1_list li {
  border-top: 1px solid var(--main_c3);
  border-bottom: 1px solid var(--main_c3);
  margin-top: var(--gap1);
  /* padding: var(--gap1); */
  background-color: #ffffff;
}
.min1_list li a {
  /* border: 1px solid red; */
  display: block;
  padding: var(--gap1);
  transition: 0.3s;
}
.min1_list li a:hover {
  /* color: var(--main_c1); */
  background-color: rgba(0, 0, 0, 0.1);
}

.ent {
  /* border: 1px solid olive; */
  width: 50%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
.tooth {
  border-top: 2px solid var(--main_c3);
  border-bottom: 2px solid var(--main_c3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  font: var(--title2);
  background-color: var(--main_c2);
  position: relative;
  margin-bottom: 1rem;
}
.tooth::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -76px);
  background-image: url(../image/tooth.png);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 15%;
  /* height: 70%; */
  height: 80px;
  /* border: 1px solid hotpink; */
}
.tooth a {
  /* border: 1px solid red; */
  display: block;
  width: 100%;
}
.tooth a:hover {
  text-shadow: #ff6b00 0px 0px 8px;
}
.tooth p {
  text-align: center;
  /* line-height: 2rem; */
}
/* .tooth i {
  position: absolute;
  right: 0;
  padding: var(--gap1);
} */

.quiz {
  display: flex;
  flex-grow: 1;
  background-color: var(--main_c2);
}
.quiz_pic {
  width: 35%;
  border: 2px solid var(--main_c3);
  border-left: none;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.ox {
  width: 100%;
}

.quiz_title {
  width: 65%;
  border: 2px solid var(--main_c3);
  border-right: none;
  border-left: none;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
}
.quiz_title > p:first-child {
  font: var(--title2);
  padding: 0.5rem 1rem;
}
.quiz_title > p:last-child {
  font-size: 24px;
  padding: 0.5rem 1rem;
}
.quiz_title:hover > p {
  text-shadow: #ff6b00 0px 0px 8px;
}

.sec3 {
  /* border: 2px solid green; */
  padding: var(--gap1) 0;
  margin-bottom: 3rem;
}
.sec3 h2 {
  font: var(--title1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--main_c3);
  color: var(--main_c3);
}
.sec3 i {
  padding-left: 1rem;
}
.sec3 h2 a:hover i {
  color: var(--main_c1);
}

.premium {
  display: flex;
  justify-content: space-between;
}
.premium a {
  /* border: 1px solid purple; */
  margin: 1rem;
  /* border-radius: 1rem; */
  /* overflow: hidden; */
}
.premium a:hover img {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.premium img {
  width: 100%;
  border-radius: 1rem;
  /* border: 1px solid red; */
  /* padding: 1rem; */
}

.sec4 {
  /* border: 1px solid red; */
  padding: var(--gap1) 0;
  margin-bottom: 5rem;
}
.sec4 h2 {
  font: var(--title1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--main_c3);
  color: var(--main_c3);
}
.sec4 i {
  padding-left: 1rem;
}
.sec4 h2 a:hover i {
  color: var(--main_c1);
}

.insta {
  display: flex;
}
.insta a {
  /* border: 2px solid purple; */
  margin: 1rem;
}
.insta img {
  /* border: 2px solid green; */
  width: 100%;
}
.insta a:hover img {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.ft {
  border: 1px solid lightgreen;
  background-color: #c3c3c3;
}
.ft_wrap {
  padding: var(--gap1) 0;
}
.ft_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ft_logo {
  width: 200px;
}
.ft_service {
  display: flex;
}
.ft_service li {
  padding: var(--gap1);
}
.ft_desc p {
  font-size: 12px;
}
.ft_desc p:first-of-type {
  padding: 1rem 0;
}

@media (max-width: 1260px) {
  .top_menu,
  .gnb,
  .btn_subsc {
    display: none;
  }
  .hd.on::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 60vh;
    /* border: 1px solid red; */
    background-color: #f8f8f8;
    z-index: 1000;
    left: 0;
    top: 0;
  }

  .hd.on .logo,
  .hd.on .top_menu,
  .hd.on .gnb,
  .hd.on .btn_subsc,
  .ham {
    /* border: 1px solid red; */
    position: fixed;
    z-index: 1100;
  }
  .hd.on .logo {
    top: 2rem;
    left: 2rem;
  }
  .hd.on .gnb {
    top: 9rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: calc(100% - 5rem);
    /* border: 1px solid blue; */
  }
  .hd.on .gnb a {
    /* border: 1px solid red; */
    width: 100%;
  }
  .hd.on .top_menu {
    display: block;
    right: 1.5rem;
    top: 5rem;
  }
  .ham {
    display: block;
    right: 1rem;
    top: 1.3rem;
    font-size: 2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
  }
  .hd.on + .ham {
    position: fixed;
  }
  .ham:hover {
    color: var(--main_c1);
  }

  .sec1 {
    justify-content: center;
  }
  .intro {
    display: none;
  }
  .recent {
    width: 100%;
  }

  .left_con a,
  .right_con a {
    font-size: 1.8vw;
  }

  .premium {
    /* justify-content: space-evenly; */
  }
  /* .premium a:nth-last-of-type(1) {
    display: none;
  } */

  .insta a:nth-last-of-type(1) {
    display: none;
  }
  .ft_menu {
    display: block;
  }
  .ft_service li:first-child {
    padding-left: 0;
  }
}

@media (max-width: 720px) {
  .intro {
    /* display: none; */
  }
  .mid_banner {
    display: block;
    padding-bottom: 7rem;
  }
  .bn_left,
  .bn_right {
    width: 100%;
    justify-content: center;
  }
  .left_con a,
  .right_con a {
    font-size: 3vw;
  }

  .sec2 {
    display: block;
    width: 100%;
  }
  .min1 {
    width: 100%;
    margin-bottom: 7rem;
  }
  .tooth {
    margin-bottom: 4rem;
  }
  .ent {
    width: 100%;
    display: block;
    margin-left: 0;
  }
  .premium {
    flex-direction: column;
    justify-content: space-evenly;
  }
  /* .premium a:nth-last-of-type(2) {
    display: none;
  } */
  .insta a:nth-last-of-type(2) {
    display: none;
  }
  .ft_service {
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 0.5rem;
  }
  .ft_service > li {
    width: calc(100% / 3);
    padding: 1rem 0.5rem 0 0;
  }
}
